.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 108px 0 0 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--container-bg);
  padding: 32px 106px 20px 106px;
  border-radius: 10px;
  height: 450px;
  width: 900px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.login-header {
  align-self: center;
  margin-top: 0;
  margin-bottom: 24px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 50px;
  margin-bottom: 12px;
}

.login-button {
  align-self: flex-end;
  margin-top: auto;
}

.input-title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
}

.login-input {
  margin-top: 5px;
  margin-bottom: 16px;
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

.home-catch {
  font-weight: 900;
}
