:root {
  --text: #fffffc;
  --bg: #131515;
  --container-bg: #2b2c28;

  --sans:
    Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  border: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

button,
input {
  color: black;
  background-color: var(--text);
  border: none;
  border-radius: 20px;
  transition: box-shadow 0.1s ease-in-out;
}

input:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 6px color-mix(in srgb, var(--container-bg), var(--text) 90%);
}

button {
  padding: 11px 33px;
  width: 140px;
  user-select: none;
  transition: background-color 0.05s ease-out;
}

button:active {
  background-color: color-mix(in srgb, var(--container-bg), var(--text) 60%);
}

input {
  padding: 11px 33px;
}
